
<div class="wrapper skewed-bg">
  <div class="statusBar">
      <div class="signal">
          <span class="active"></span>
          <span class="active"></span>
          <span class="active"></span>
          <span></span>
          <span></span>
      </div>
      <div class="clock">
          <p>10:15 AM</p>
      </div>
      <div class="battery">
          <span></span>
      </div>
  </div>
  <div class="header">
      <div class="hamburgerWrapper">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </div>
      <div class="headerLabel">
          <h1>Dashboard</h1>
      </div>
      <div class="headerMenu">
          <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
      </div>
  </div>
  <div class="welcome_content">
      <h4>welcome</h4>
      <h2>Saddy young!</h2>
  </div>
  <div class="content-area">
      <div class="row">
          <div class="col-sm col-xs-6">
              <div class="card">
                  <i class="fa fa-globe" aria-hidden="true"></i>
                  <div class="clearfix"></div>
                  <p>Lands</p>
              </div>
          </div>
          <div class="col-sm col-xs-6">
              <div class="card-1">
                  <i class="fa fa-google-wallet" aria-hidden="true"></i>
                  <div class="clearfix"></div>
                  <p>chit funds</p>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-sm col-xs-6">
              <div class="card">
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                  <div class="clearfix"></div>
                  <p>agarwoods</p>
              </div>
          </div>
          <div class="col-sm col-xs-6">
              <div class="card-1">
                  <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                  <div class="clearfix"></div>
                  <p>employees</p>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-sm col-xs-6">
              <div class="card">
                      <i class="fa fa-user" aria-hidden="true"></i>
                      <div class="clearfix"></div>
                  <p>customers</p>
              </div>
          </div>
          <div class="col-sm col-xs-6">
              <div class="card-1">
                      <i class="fa fa-folder" aria-hidden="true"></i>
                      <div class="clearfix"></div>
                  <p>reports</p>
              </div>
          </div>
      </div>
  </div>
</div>
